.container-fluid {
    margin: 0;
    width: 100%;
    height: 897px;
    background-image: url("../../assets/pics/jatek.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color:rgb(73, 55, 55);
}

.about {
    padding-top: 40px;
    width: 336px;
    height: 740px;
    position: relative;
    background-color: rgb(170, 125, 66);
    top: 6px;
    right: 35%;
    border-radius: 6px;
}

.row {
    margin: 0;
}

a:link {
    text-decoration: none;
}

.navi {
    margin: 0;
    background-color: rgb(73, 55, 55);
}

.btn {
    margin-top: 14px;
    background-color: rgb(116, 77, 77);
    color: bisque;
}

.about span {
    color: rgb(168, 34, 34);
    display: flex;
    justify-content: center;
}

.about p {
    margin-bottom: 20px;
}

.about p:last-of-type{
    margin-bottom: 100px;
}