<div class="container-fluid">

    <div class="row justify-content-center">
        <a href="/booking-list" class="col-lg-2 col-sm-6 btn mb-3">Foglalások</a>
        <div class="col-lg-7"></div>
        <a href="/booking" class="col-lg-2 col-sm-6 btn mb-3">Új foglalás</a>
    </div>

    <div class="container about">
        <p>A szabadulószoba játék lényege: egy csapat (2-16 fő) meghatározott időn belül elmeneküljön a zárt szobákból.</p>
        <p>Az élmény elveszi a játékosok valódi életével kapcsolatos aggodalmait és egy másik világba helyezi őket.</p>
        <p>Ha valami egyedit keresel, ami felnőtteket és gyerekeket is szórakoztat, akkor ez az applikáció a legjobb választás a minőségi idő közös eltöltésére.</p>
        <p>A menekülő játékok felejthetetlen élményt garantálnak barátoknak, pároknak, családoknak, születésnapi buliknak és céges csapatépítő rendezvényeknek.</p>
        <p>Szóval, ne hagyd ki e remek játékot :</p>
        <p>Próbáld ki még ma !</p>

        <span>kifele@escape.hu</span>
        <span> &copy;2024 RP</span>
         
    </div>

</div>
<!--
<div class="main"></div>
-->