<body>

  <div class="container">
    <h3 class="foglalasok">Új foglalás felvétele</h3>
    <hr>

    <div class="row justify-content-center">
      <a href="/booking-list" class="col-lg-2 col-sm-6 btn mb-3">Foglalások</a>
      <div class="col-lg-7"></div>
      <a href="/home" class="col-lg-2 col-sm-6 btn mb-3">Főoldal</a>
    </div>

    <hr>
  </div>
  <div class="bg">

    <form id="myform" #bookingPost="ngForm" (ngSubmit)="onSubmit(bookingPost.value)">

      <input type="text" class="form-control" id="name" required ngModel name="nev"
        #name="ngModel" placeholder="{{valueName}}" />
      <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
        <div *ngIf="name.hasError('required')">Kötelező nevet megadni !</div>
      </div>

      <input type="number" name="fo" ngModel placeholder="{{valueFo}}" #fo="ngModel" required min="2" max="16">
      <div *ngIf="fo.touched && fo.value<2 || fo.value>16" class="alert alert-danger">
        <div *ngIf="fo.hasError('required')">A létszámnak min. 2 max 16 kell lennie</div>
      </div>
    
      <input type="date" name="datum" [(ngModel)]="valueDate">
      <input type="text" name="cim" ngModel placeholder="{{valueCim}}"#fo="ngModel" required>
      
      <input type="text" name="iranyitoszam" ngModel placeholder="{{valueIrszam}}" required>


      <button type="submit">Foglalás</button>


      <div id="booking" *ngIf="submitted">Foglalás felvéve</div>

    </form>


  </div>

</body>